html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: rgb(130, 181, 248);
    background-size: cover;
    background-repeat: space;
}
h1,h2,h3,h4 {
    color: white;
    font-family: 'googleapis', monospace;
}
strong {
    color: black
}

canvas {
    background-image: url('Grinch-Background.jpeg');
    background-size: 800px;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 100;
}

#container {
    max-width: 50em;
    /* height: 70vh; */
    background-color: rgb(22, 190, 106);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top top top"
                         "game game game"
                         "btm-left . btm-right";
                          
}
#top-left, #top-right, #btm, #title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 30, 30);
  }

main {
    grid-area: game;
}
canvas#game { 
    border: 1px solid rgb(0, 0, 0); 
    width: 800px; 
    height:400px;
}
img{
    display:none;
}
